@import 'https://fonts.googleapis.com/css?family=Lobster|Raleway:100,200,300';

body {
	font-family: "Raleway", Helvetica, sans-serif;
	font-weight: 100;
	background-image: url('images/wood_pattern/wood_pattern.png')
}

li {
	display: inline-block;
}

.disable {
	display: none;
}

.center {
	text-align: center;
}

.opacity {
	opacity: 0.5;
}

.btn {
	margin-top: 50px;
	padding: auto 20px;
	background-image: url('images/gray_jean/gray_jean.png');
	border: solid 4px #ffffff;
	border-radius: 10px;
	font-family: "Lobster", Helvetica, sans-serif;
	font-size: 30px;
}

.btn:hover {
	border-color: #0ac247;
}

header {
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	background-image: url('images/grass1.png');
	background-repeat: repeat-x;
	background-size: auto 50px;
	background-position: left bottom;
}

.instructions {
	position: absolute;
	z-index: 10;
	background-color: #ffffff;
	background-image: url('images/gray_jean/gray_jean.png');
	border: solid 4px #ffffff;
	border-radius: 15px;
	padding: 30px;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: 200;
}

.startText {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 5px;
	text-align: left;
}

#okay {
	background-color: #d9d9d9;
	background-image: none;
}

h1 {
	font-family: "Lobster", Helvetica, sans-serif;
	/*padding-top: 20px;*/
	padding-left: 20px;
	line-height: 100px;
	margin-top: 0;
	position: absolute;
	top: 0;
}

.glyphicon-question-sign {
	float: right;
	margin-top: 40px;
	margin-right: 20px;
}

.choices {
	margin-top: 150px;
}

#weedChoices {
		margin-top: 75px;
	}

h2 {
	border-bottom: solid 2px #ffffff;
	padding-bottom: 10px;
	font-weight: bold;
}

.startImages {
	margin-top: 20px;
}

.startImages li {
	background-image: url("images/gray_jean/gray_jean.png");
	border: solid 10px #ffffff;
	border-radius: 20px;
	padding-top: 50px;
	width: 30%;
	height: 500px;
}

.startImages li:nth-child(2) {
	margin: auto 20px;
}

/*.startImages a {
	vertical-align: bottom;
}*/

.startImages img {
	width: 150px;
	position: absolute;
	bottom: 15px;
	right: 20%;
}

.description li {
	padding: 25px 10px;
	padding-bottom: 10px;
	background-color: #b3b3b3;
	color: #ffffff;
	width: 30%;
	position: relative;
	top: -15px;
	z-index: -1;
	line-height: 18px;
}

.description li:nth-child(2) {
	margin: auto 20px;
}

.weedImages li {
	height: 225px;
}

.weedImages li:nth-child(3) {
	padding-top: 40px;
}

.weedImages li:nth-child(2) {
	padding-top: 60px;
}

.weedImages li:nth-child(1) {
	padding-top: 100px;
}

#noSelection {
	margin-top: 20px;
}

.playImages {
	margin-top: 150px;
}

.flower, .weed {
	border: solid 5px #ffffff;
	border-radius: 20px;
	padding-top: 50px;
	background-image: url('images/soil.png');
	background-repeat: repeat-x;
	background-position: bottom left;
	background-size: auto 50px;
	height: 400px;
}

.flower img {
	height: 350px;
	width: auto;
	position: relative;
	bottom: 50px;
}

.weed img {
	width: 225px;
	position: absolute;
	bottom: 3%;
	left: 20%;

}

.percentage {
	margin: 0;
}

.bar {
	width: 100%;
	height: 10px;
	background-color: #0ac247;
}

.floatRight {
	float: right;
}

.padding {
	padding: 40px;
}

.tracker {
	height: 15px;
	width: 15px;
	border-radius: 100%;
	background-color: #ffffff;
	position: absolute;
	bottom: -2px;
}

#weedHealth {
	left: 95%;
}

#flowerHealth {
	left: 25%;
}

.problem {
	margin-top: 50px;
}

h3 {
	display: inline-block;
	height: 90px;
	line-height: 90px;
	margin: 0;
	font-family: "Lobster";
	font-size: 80px;
	padding: 0;
}

.timer {
	height: 125px;
	margin-top: 25px;
	padding: 0;
	padding-top: 24px;
	width: 350px;
	margin-left: 25px;
}

#timeDisplay {
	font-size: 50px;
	line-height: 60px;
	padding: auto, 5px;
	background-color: #ffffff;
	width: 350px;
	border-radius: 15px;
	text-align: center;
}

#next {
	margin-top: 6px;
}

.message {
	height: 250px;
	padding: 0;
	padding-left: 25px;
}

h4 {
	/*font-family: "Lobster";*/
	font-size: 26px;
	line-height: 32px;
	text-align: left;
	vertical-align: bottom;
	padding: 10px;
	margin: 0;
}


.plus, .minus, .multiply, .divide {
	background-color: #ffffff;
	border-radius: 100%;
	width: 42px;
}

.operator {
	display: inline-block;
	height: 100%;
	padding: 0;
}

.operator li {
	font-size: 30px;
	display: list-item;
	list-style: none;
	padding: 0;
}

#submit {
	margin-top: 20px;
	font-size: 26px;
}

.operator a {
	color: #000000;
	text-decoration: none;
}

.win, .lose {
	top: 25%;
}

.largeBtn {
	margin-top: 20px;
	background-color: #d9d9d9;
	background-image: none;
}

.garden {
	position: absolute;
	top: 0;
	left: 25%;
	height: 100px;
	padding: 0px 5px;
	border: none;
}

.garden li {
	margin-right: 20px;
	list-style: none;
}

.garden img {
	height: 100px;
	width: auto;
}

footer {
	margin-top: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.copyright {
	color: #ffffff;
	font-size: 12px;
	float: right;
	padding-right: 20px;
}

/* Media Queries */

@media (max-width: 1150px) {
	.garden {
		left: 20%;
	}
}

@media (max-width: 1050px) {
	.garden img {
		height: 80px;
	}

	.garden li {
		margin-right: 15px;
	}

	.garden {
		left: 25%;
	}
}

@media (max-width: 982px) {
	.startImages img {
		right: 8%;
	}
}

@media (max-width: 900px) {
	.garden img {
		height: 70px;
	}

	.garden {
		top: 10px;
	}
}

@media (max-width: 850px) {
	.startImages img {
		width: 120px;
		right: 15%;
	}

	.flowerImages li {
		height: 400px;
	}

	.garden li {
		margin-right: 10px;
	}

	.garden {
		left: 27%;
	}

}

@media (max-width: 768px) {
	.startImages img {
		right: 10%;
	}

	.garden img {
		height: 50px;
	}

	.garden li {
		margin-right: 5px;
	}

	.garden {
		top: 30px;
		left: 33%;
	}
}

@media (max-width: 600px) {

	.startImages img {
		right: 7%;
		width: 100px;
	}

	.flowerImages li {
		height: 350px;
	}

	.garden img {
		height: 70px;
	}

	.garden {
		top: 10px;
		left: 3%;
	}

	h1 {
		z-index: 2;
	}
}

 @media (max-width: 500px) {
 	.startImages img {
 		right: 0;
 	}
 }
